<html ng-app="testApp">
<head>
    <title>Mclane Customer Survey</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<script type="text/javascript" src="js/jquery-min.js"></script>
	<script type="text/javascript" src="js/polyfill.js"></script>
	<script type="text/javascript" src="js/post.js"></script>
		  
</head>
<img src="https://upload.wikimedia.org/wikipedia/en/2/2b/McLane_logo.gif" alt="McLane"> 
<h1>Mclane Customer Survey</h1>

<div *ngIf="undefined === restItems">Loading...</div>
<div *ngIf="undefined !== restItems"></div>


<form name="survey_post" class="topLabel page1" id="survey_post" action="" enctype="multipart/form-data" method="post" accept-charset="UTF-8" novalidate="" autocomplete="off">
 <ol class=restItems>

    <li *ngFor="let question of restItems; index as j; last as last">
	
	<div *ngIf="j<1">
	<input name="CAMPAIGN_GUID" type="hidden" value={{question.campaignGuid}}>
	<input name="SURVEY_ID" type="hidden" value={{question.surveyID}}>
	</div>
	
<!-- For Text Box	 -->
<div *ngIf="question.type.id == 0">
            <h4>{{question.description}}</h4>
 	
   
	
	
	<!-- <input name="CREATION_DATE" id={{question.id}} type="hidden" value={{question.creationDate}}> -->
	<!-- <input name="CREATED_BY" id={{question.id}} type="hidden" value={{question.createdBy}}> -->
	<!-- <input name="LAST_UPDATE_DATE" id={{question.id}} type="hidden" value={{question.lastUpdateDate}}> -->
	<!-- <input name="LAST_UPDATED_BY" id={{question.id}} type="hidden" value={{question.lastUpdatedBy}}> -->
	<!-- <input name="SURVEY_ID" id={{question.id}} type="hidden" value={{question.surveyID}}> -->
	<!-- <input name="SITE_NUMBER" id={{question.id}} type="hidden" value={{question.siteNumber}}> -->
	<!-- <input name="CUSTOMER_EMAIL" id={{question.id}} type="hidden" value={{question.customerEmail}}> -->
	<!-- <input name="QUESTION_ID" id={{question.id}} type="hidden" value={{question.id}}> -->
	<!-- <input name="LOOKUP_ID" id={{question.id}} type="hidden" value={{question.lookupID}}> -->
	<!-- <input name="ANSWER_ID" id={{question.id}} type="hidden" value={{question.question_choices.id}}> -->
	
	 <input type="text" (keyup)="onNameKeyUp($event)" ng-model="answer-value" name="ANSWER_VALUE" id={{question.id}} spellcheck="true" placeholder="Please place your answer here" required="" ng-pattern="" track by answer.id required ng-trim="false" value="">
	
	<!-- <input name="CAMPAIGN_GUID" id={{question.id}} type="hidden" value={{question.campaignGuid}}> -->
	
</div>

<!-- For Text Area	 -->
<div *ngIf="question.type.id == 1">
            <h4>{{question.description}}</h4>
 	

	<!-- <input name="CREATION_DATE" id={{question.id}} type="hidden" value={{question.creationDate}}> -->
	<!-- <input name="CREATED_BY" id={{question.id}} type="hidden" value={{question.createdBy}}> -->
	<!-- <input name="LAST_UPDATE_DATE" id={{question.id}} type="hidden" value={{question.lastUpdateDate}}> -->
	<!-- <input name="LAST_UPDATED_BY" id={{question.id}} type="hidden" value={{question.lastUpdatedBy}}> -->
	<!-- <input name="SURVEY_ID" id={{question.id}} type="hidden" value={{question.surveyID}}> -->
	<!-- <input name="SITE_NUMBER" id={{question.id}} type="hidden" value={{question.siteNumber}}> -->
	<!-- <input name="CUSTOMER_EMAIL" id={{question.id}} type="hidden" value={{question.customerEmail}}> -->
	<!-- <input name="QUESTION_ID" id={{question.id}} type="hidden" value={{question.id}}> -->
	<!-- <input name="LOOKUP_ID" id={{question.id}} type="hidden" value={{question.lookupID}}> -->
	<!-- <input name="ANSWER_ID" id={{question.id}} type="hidden" value={{question.question_choices.id}}> -->
	
    <textarea (keyup)="onNameKeyUp($event)" ng-model="answer-value" name="ANSWER_VALUE" id={{question.id}} spellcheck="true" placeholder="Please place your answer here" required="" ng-pattern="" rows="5" track by answer.id required ng-trim="false" value=""></textarea>
	
	<!-- <input name="CAMPAIGN_GUID" id={{question.id}} type="hidden" value={{question.campaignGuid}}> -->
</div>
	
<!-- For Radio Button	 -->	
<div *ngIf="question.type.id == 2">
            <h4>{{question.description}}</h4>
	
	<!-- <input name="CAMPAIGN_GUID" id={{question.id}} type="hidden" value={{question.campaignGuid}}> -->
	<!-- <input name="CREATION_DATE" id={{question.id}} type="hidden" value={{question.creationDate}}> -->
	<!-- <input name="CREATED_BY" id={{question.id}} type="hidden" value={{question.createdBy}}> -->
	<!-- <input name="LAST_UPDATE_DATE" id={{question.id}} type="hidden" value={{question.lastUpdateDate}}> -->
	<!-- <input name="LAST_UPDATED_BY" id={{question.id}} type="hidden" value={{question.lastUpdatedBy}}> -->
	<!-- <input name="SURVEY_ID" id={{question.id}} type="hidden" value={{question.surveyID}}> -->
	<!-- <input name="SITE_NUMBER" id={{question.id}} type="hidden" value={{question.siteNumber}}> -->
	<!-- <input name="CUSTOMER_EMAIL" id={{question.id}} type="hidden" value={{question.customerEmail}}> -->
	<!-- <input name="QUESTION_ID" id={{question.id}} type="hidden" value={{question.id}}> -->
	<!-- <input name="LOOKUP_ID" id={{question.id}} type="hidden" value={{question.lookupID}}> -->
	<!-- <input name="ANSWER_ID" id={{question.id}} type="hidden" value={{question.question_choices.id}}> -->
	
	<td *ngFor="let answer of question.question_choices"> 
	<input type="radio" (click)="selectedAnswer(question, answer)" ng-model="answer-value" name="ANSWER_VALUE{{j}}" id={{question.id}} required="" track by answer.id value={{answer.description}}{{j}}>{{answer.description}}
	</td>

	<div *ngIf="question.ANSWER_VALUE!=null">
	<input name="ANSWER_VALUE" type="hidden" value={{question.ANSWER_VALUE.description}}>
	</div>


</div>

<!-- For Check Box	 -->
<div *ngIf="question.type.id == 3">
            <h4>{{question.description}}</h4>
	
	<td *ngFor="let answer of question.question_choices"> 
	<input type="checkbox" ng-model="answer-value" name={{question.id}} value="answer.description">{{answer.description}}
	</td>
	
</div>

<!-- For Push Button	 -->	
<div *ngIf="question.type.id == 4">
            <h4>{{question.description}}</h4>
	
	<td *ngFor="let answer of question.question_choices" attr.id={{answer.id}}> 
	<input type="radio" ng-model="answer-value" name={{question.id}} value="answer.description" track by answer.id>{{answer.description}}
	</td>

</div>

<!-- For Drop Down	 -->
<div *ngIf="question.type.id == 5">
            <h4>{{question.description}}</h4>
 
	<select ng-model="answer-value" name={{question.id}} value="answer.description" track by answer.id>           
		<option *ngFor="let answer of question.question_choices">
		{{answer.description}}
		</option>
	</select>
	
</div>

<!-- For Password	 -->
<div *ngIf="question.type.id == 6">
            <h4>{{question.description}}</h4>
 	
    <input type="password" name={{question.id}} ng-model="answer-value" ng-pattern="" track by answer.id required ng-trim="false">
	
</div>

<!-- For Calendar	 -->
<div *ngIf="question.type.id == 7">
            <h4>{{question.description}}</h4>

<p>

    <input ng-model="answer-value" name={{question.id}} matInput [matDatepicker]="dp3" placeholder="Choose a date" disabled>
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>

</p>
	
</div>

<!-- For Checkbox Group	 -->
<div *ngIf="question.type.id == 8">
            <h4>{{question.description}}</h4>
	
	<td *ngFor="let answer of question.question_choices"> 
	<input type="checkbox" ng-model="answer-value" name={{answer.id}} value="answer.description">{{answer.description}}
	</td>
	
</div>

<!-- For MultiSelect List	 -->
<div *ngIf="question.type.id == 9">
            <h4>{{question.description}}</h4>
	
	<td *ngFor="let answer of question.question_choices"> 
	<input type="checkbox" ng-model="answer-value" name={{answer.id}} value="answer.description">{{answer.description}}
	</td>
	
</div>
	

	
	</li>

	<br />
	<div id="div_ajaxResponse"></div>
	<br />
		<tr>
			<td><input type="button" name="submit_survey" id="submit_survey" value="Submit Survey"></td>
		</tr>
		
		 </ol>
		 </form>
		 
		
  
  
  
  
  





